/*reset*/
html, body, div, span, a, img, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, address,
strong, em, b, i, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
form, fieldset, label, legend, input, textarea, select,
article, aside, canvas, details, figure, figcaption,
header, footer, hgroup, menu, nav, output, 
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}
legend { display: none; }
b { font-weight: normal; }
i, em { font-style: normal; }
a { text-decoration: none; }